/*------------------------------------*\
    $Desktop Layout
\*------------------------------------*/

body {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.nav--theme {
	margin-top:10px;
}

.nav--theme li {
	border-left: 1px solid #ddd;
	font-size: .8em;
}

.nav--theme li:first-child {
	border-left: none;
}

.nav--theme a:hover {
	text-decoration: none;
	background:  #4ea6e5;
	color: #fff;
}