/*------------------------------------*\
    $Typography
\*------------------------------------*/

// Type Variables 

$san-serif: 		'Open Sans', sans-serif;
$serif: 		'Gentium Book Basic', serif;

// Basic Typography

body {
	font-family: $san-serif;
	color: #555;
	font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $san-serif;
	font-weight: 900;
	color: black;
	margin-bottom: .6em;
}

.blue-type {
	color: $blue;
}

.deep-blue-type {
	color: $deep-blue;
}

a {
	color: #418AC2;
	font-weight: 700;
}

.center {
	text-align: center;
}

.right {
	text-align: center;
}